@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500&family=Roboto:wght@400;500;700;900&display=swap");

/* Css reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  background: rgba(51, 51, 51, 0);
  font-size: 16px;
  color: #332d2d;
  font-weight: 500;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #332d2d;
  font-weight: 400;
  background-color: #fff;
}
p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1225px;
}

.btn {
  min-width: 146px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: left;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-align: left;
}
.btn-primary {
  color: #fff;
  background: linear-gradient(95.04deg, #ffaa3f 0.82%, #f35b04 97.35%);
  border: 0;
  transition: all 0.5s;
}
.btn-primary:hover,
.attFile:hover {
  /*color: #FFAA3F;
  background: #fff;
  border: 1px solid #FFAA3F;*/
  background: linear-gradient(95.04deg, #f35b04 0.82%, #f35b04 97.35%);
}

// header

header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1225px;
    padding: 15px 0;

    .logo {
      margin-left: 55px;

      img {
        width: 170px;
      }
    }
    nav {
      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
          margin: 0 20px;
          a {
            &:hover {
              color: #dbac1f;
            }
          }
          svg {
            margin-left: 8px;
          }
        }
      }
    }
  }
}

// Banner section

section {
  &.banner {
    background: url("../images/banner.jpg") no-repeat center;
    background-size: cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      h1 {
        font-size: 85px;
        font-weight: 600;
        padding-bottom: 40px;
        color: #fff;
      }
      p {
        max-width: 800px;
        margin: 0px auto;
        padding-bottom: 55px;
        font-weight: 500;
        color: #fff;
        text-align: center;
      }
    }
    .bannerButtons {
      display: flex;
      gap: 20px;
      a {
        &::after {
          content: url("../images/arrow.svg");
          transform: rotate(90deg);
          margin-left: 10px;
        }
      }
    }
  }
}

// process section

section {
  &.process {
    text-align: center;
    padding: 6rem 0;
    .container {
      margin: auto;
      h2 {
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        color: #413838;
        font-weight: 700;
        padding-bottom: 80px;
      }
      .cards {
        padding-top: 10px;
        display: flex;
        margin: 0 50px;
        flex-wrap: wrap;
        gap: 15px;
        .card {
          flex: 1;
          padding: 50px 17px;
          text-align: center;
          min-height: 317px;
          border-radius: 0 50px 50px 50px;
          margin: 0px 15px;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
          gap: 20px;

          &:first-child {
            background-color: #ffeded;
          }
          &:nth-child(2) {
            background-color: #f9e1ee;
          }
          &:nth-child(3) {
            background-color: #c2e8ff;
          }
          &:nth-child(4) {
            background-color: #bbfff4;
          }
          &:last-child {
            background-color: #e7e6ff;
          }
          img {
            width: 60px;
            height: 60px;
            object-fit: contain;
          }

          p {
            color: #332d2d;
            font-weight: 600;
            font-family: "Poppins";
            font-size: 16px;
            line-height: 25px;
          }
        }
      }
    }
  }
}

// Why choose us section

section {
  &.why-choose {
    padding: 15px 0;
    .container {
      margin: auto;
      // background-color: yellow;

      text-align: center;
      h2 {
        font-family: "Poppins", sans-serif;
        font-size: 40px;
        color: #413838;
        font-weight: 700;
        padding-bottom: 80px;
      }
      .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        margin: 20px;
        width: 100%;
        justify-content: center;
        align-items: center;
        .card {
          padding: 45px 30px 18px;
          border-radius: 0px 50px 50px 50px;
          background: #fff7f0;
          margin-bottom: 40px;
          border: 3px solid transparent;
          transition: all 0.5s;
          min-height: 540px;
          // flex: 1;
          width: 20%;
          &:hover {
            border: 3px solid #d18888;
          }
          img {
            width: 76px;
            padding-bottom: 30px;
          }
          h3 {
            text-transform: capitalize;
            font-family: "Poppins";
            font-weight: 600;
            font-size: 17px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}
